.create-profile {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 50px;
  }
  
  .create-profile h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
    color: #0093d3;
  }
  
  .create-profile label {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .create-profile input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-profile button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    background-color: #0093d3;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .create-profile button:hover {
    background-color: #0072a8;
  }
  
  .create-profile .error {
    color: red;
    font-size: 1.2em;
    margin: 10px 0;
  }